<div class="page page-orders">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{'Pages.Orders.TITLE' | translate}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.shop.orders">{{'Pages.Orders.TITLE' | translate}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent" ng-controller="OrdersTableCtrl">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen01">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{ 'Pages.Orders.Header.BOLD' | translate }}</strong> {{ 'Pages.Orders.Header.THIN' | translate }}</h1>
            <ul class="controls">

              <li ng-init="show=true">
                <a ng-show="show" href="javascipt:;" ng-click="getHiddenOrders(); show=!show" tile-control-refresh>
                  <fa name="magic mr-5"></fa> {{ 'Pages.Orders.Header.HIDDEN' | translate }}
                </a>

                <a ng-hide="show" href="javascipt:;" ng-click="getOrders(); show=!show" tile-control-refresh>
                  <fa name="magic mr-5"></fa> {{ 'Pages.Orders.Header.SHOWN' | translate }}
                </a>
              </li>

              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'Buttons.Tools.MINIMIZE' | translate }}</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'Buttons.Tools.EXPAND' | translate }}</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="orders_shown_deleted === false ? getOrders() : getHiddenOrders()">
                      <fa name="refresh"></fa> {{ 'Buttons.Tools.REFRESH' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                      <fa name="expand"></fa> {{ 'Buttons.Tools.FULLSCREEN' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <fa name="magnet"></fa> {{ 'Buttons.Tools.LIGHTBOX' | translate }}
                    </a>
                  </li>

                </ul>

              </li>

            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
            <div class="table-responsive-wide">
              <div class="dataTables_wrapper form-inline">
                <div class="row">
                  <div class="col-md-8 col-sm-12">
                    <div class="inline-controls">
                      <div class="btn-action btn-group mb-20">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {{ 'Pages.Orders.BUTTON.Title' | translate }}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li ng-repeat="option in status_keys">
                            <a href="javascript:;" ng-click="statusUpdate(option)" tile-control-refresh>{{ 'Pages.Orders.BUTTON.Options.' + option | translate }}</a>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <a href="javascript:;" ng-click="deleteItem()" tile-control-refresh>{{ 'Pages.Orders.BUTTON.Separate' | translate }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="pull-right">
                      <div class="dataTables_filter">
                        {{ 'Labels.SEARCH' | translate }}:
                        <input type="search" class="form-control input-sm" placeholder="" ng-model="searchText">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table ng-table="tableParams" class="table table-striped table-hover table-custom" template-pagination="ng-table/footer/pagination.html" style="min-width: 1000px;">
                <tr ng-class="{'bg-new' : order.new == '1', 'bg-deleted' : order.hidden == '1'}" ng-repeat="order in $data">
                  <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                    <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                      <input type="checkbox" ng-model="order.selected"><i></i>
                    </label>
                  </td>
                  <td data-title="'ID'" sortable="'id'">{{ order.id }}</td>
                  <td data-title="'Pages.Orders.DATE.Title' | translate" sortable="'date'">{{ 'Pages.Orders.DATE.Format' | translate:{date:order.date} }}</td>
                  <td data-title="'Pages.Orders.DATE.Title' | translate" sortable="'customer'">{{ order.customer }}</td>
                  <td data-title="'Pages.Orders.COMPANY.Title' | translate" sortable="'company'">
                    <span class="badge" ng-class="{'bg-success' : order.company == '1', 'bg-danger' : order.company == '0'}">{{ 'Pages.Orders.COMPANY.' + order.company | translate }}</span>
                  </td>
                  <td data-title="'Pages.Orders.STATUS.Title' | translate" sortable="'status'">
                      <span class="label" ng-class="{'bg-danger' : order.status == '0', 'bg-primary' : order.status == '1', 'bg-success' : order.status == '2', 'bg-warning' : order.status == '3', 'bg-dutch' : order.status == '4'}">{{ 'Pages.Orders.STATUS.children.' + order.status | translate }}</span>
                  </td>
                  <td data-title="'E-mail'" sortable="'email'">{{ order.email | lowercase }}</td>
                  <td data-title="'Pages.Orders.CELLNUMBER.Title' | translate" sortable="'cellnumber'">{{ order.cellnumber }}</td>
                  <td data-title="'Pages.Orders.TOTAL.Title' | translate" sortable="'total'">{{ order.total | number:fractionSize }} Kč</td>
                  <td data-title="'Pages.Orders.ACTION.Title' | translate">
                    <a ui-sref="app.shop.single-order/{{order.id}}" class="btn btn-xs btn-default"><i class="fa fa-search"></i> {{ 'Buttons.VIEW' | translate }}</a>
                    <a ng-click="deleteItem(order.id)" class="btn btn-xs btn-danger" tile-control-refresh><i class="fa fa-times"></i> {{ 'Buttons.DELETE' | translate }}</a>
                  </td>
                </tr>
              </table>

              <!-- ng-table template checkbox -->
              <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                <label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-click="selectAll()" id="select_all" name="filter-checkbox" value=""><i></i></label>
              </script>
              <!-- /ng-table template checkbox -->

              <!-- ng-table template pagination -->
              <script type="text/ng-template" id="ng-table/footer/pagination.html">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="inline-controls">
                      <div ng-if="params.settings().counts.length" id="allocateCargoTable_length" class="dataTables_length">
                        <label>
                          {{ 'Labels.VIEW' | translate }}
                          <select class="form-control input-sm" ng-param-directive ng-model="pageCount" ng-init="pageCount = params.settings().counts[0]" ng-options="count for count in params.settings().counts" ng-change="params.count(pageCount)"></select>
                          {{ 'Labels.RECORDS.many' | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="inline-controls text-center">
                      <div class="dataTables_info" id="DataTables_Table_4_info" role="status" aria-live="polite">
                        Found 300 records
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="dataTables_paginate paging_input" id="DataTables_Table_4_paginate">
                      <ul class="pagination ng-table-pagination">
                        <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type">
                          <a ng-switch-when="prev" ng-click="params.page(page.number)" href=""><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Previous</a>
                          <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                          <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                          <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                          <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span ng-bind="page.number"></span></a>
                          <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </script>
              <!-- /ng-table template pagination -->

            </div>
          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->




  </div>
  <!-- /page content -->




</div>


