<div class="page page-core page-login">

  <div class="container modal-login">

    <div class="branding">
      <img src="../../../images/logo.png" alt="">
    </div>

    <form name="form" class="form-validation mt-20" novalidate>

      <p class="help-block text-left">
         Enter your new password.
      </p>

      <div class="form-group with-addon">
        <span class="input-addon"><i class="icon-key"></i></span>
        <input type="password" class="form-control" placeholder="New password" ng-minlength="8" ng-model="user.password" required>
      </div>

      <div class="mt-40">
        <button type="submit" class="btn btn-success btn-block btn-lg btn-rounded-40" ng-click="refreshpassword()" ng-disabled='form.$invalid'>Submit</button>
      </div>

    </form>

    <div class="mt-20 text-center">
      Know your password?
      <a ui-sref="core.login">Please log in</a>
    </div>

  </div>

</div>
